<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Cover Letter Generator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
	<script defer src="/static/js/scripts.js"></script>
	<script>
		function redirect(url) {
			showLoadingScreen("Just a moment...")
			window.location.href=url
		};
	</script>
</head>
<body>
    <nav>
        <button onclick="redirect('{{ url_for('home') }}');">Home</button>
		<button onclick="redirect('{{ url_for('resume') }}');">Resume</button>
		<button onclick="redirect('{{ url_for('sample') }}');">Writing Sample</button>
		<button onclick="redirect('{{ url_for('job')  }}');">Job Description</button>
		<button onclick="redirect('{{ url_for('letter') }}');">Cover Letter</button>
    </nav>
    <main>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
    </main>
    <footer>
        <!-- <p>&copy; 2025 GranitSoft. All rights reserved.</p> -->
    </footer>
</body>
</html>
