<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Cover Letter Generator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
	<script src="/static/js/scripts.js"></script>
	<script>
		function redirect(url) {
			// showLoadingScreen("Just a moment...")
			window.location.href=url
		};

		function toggleMenu() {
			const menu = document.querySelector('.navbar-menu');
			menu.classList.toggle('show');
		}

		document.addEventListener("DOMContentLoaded", function () {
			document.querySelectorAll('a').forEach(link => {
				if (link.hostname !== window.location.hostname) {
					link.setAttribute('target', '_blank');
					link.setAttribute('rel', 'noopener noreferrer'); // Security best practice
				}
			});
		});
	</script>
	{% if google_ads_client %}
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ google_ads_client }}" crossorigin="anonymous"></script>
	{% endif %}
</head>
<body>
    <nav>
        <!-- Hamburger Icon for Mobile -->
        <button class="hamburger" onclick="toggleMenu()">☰</button>
        
        <!-- Navbar Menu (Hidden on Mobile) -->
        <div class="navbar-menu">
            <button onclick="redirect('{{ url_for('home') }}');" onmouseover="prefetch('{{ url_for('home') }}')">Home</button>
            <button onclick="redirect('{{ url_for('resume') }}');" onmouseover="prefetch('{{ url_for('resume') }}')">Resume</button>
            <button onclick="redirect('{{ url_for('sample') }}');" onmouseover="prefetch('{{ url_for('sample') }}')">Writing Sample</button>
            <button onclick="redirect('{{ url_for('job')  }}');" onmouseover="prefetch('{{ url_for('job') }}')">Job Description</button>
            <button onclick="redirect('{{ url_for('letter') }}');" onmouseover="prefetch('{{ url_for('letter') }}')">Cover Letter</button>
        </div>
    </nav>
    <main>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
    </main>
    <footer>
        <!-- <p>&copy; 2025 GranitSoft. All rights reserved.</p> -->
    </footer>
</body>
</html>
