{% extends "app.html" %}

{% block content %}

    <h1>Provide a Sample Cover Letter (Optional)</h1>
    
    <form id="sample-form" method="POST" action="{{ url_for('sample') }}">
        <textarea name="sample" id="sample-input" style="flex: 1; min-height: 700px;">{{ sample }}</textarea>
        <input type="hidden" name="sample" id="hidden-sample">
    </form>

    <div class="footer-buttons">
        <button onclick="redirect('{{ url_for('resume') }}')">Back</button>
        <button type="button" onclick="redirect('{{ url_for('job') }}')">Continue</button>
    </div>

    <script>
        function redirect(url) {

            let sample = document.getElementById("sample-input").value;
			let form = document.getElementById("sample-form")

			form.action = form.action + "?redirect=" + encodeURIComponent(url);

            document.getElementById("hidden-sample").value = sample;

            showLoadingScreen("Saving...")

			form.hidden = true
			form.style.display = 'none'; 
			document.body.appendChild(form);
			form.submit()
        }

		onEnter(function() {
			redirect('{{ url_for('job') }}');
		});
    </script>

{% endblock %}