{% extends "app.html" %}

{% block content %}

    <h1>Provide a Sample Cover Letter (Optional)</h1>
    
    <form id="sample-form" method="POST" action="{{ url_for('sample') }}">
        <textarea name="sample" id="sample-input" style="flex: 1; min-height: calc(100vh - 235px);">{{ sample }}</textarea>
        <input type="hidden" name="sample" id="hidden-sample">
    </form>

    <div class="footer-buttons">
        <button onclick="redirect('{{ url_for('resume') }}')" onmouseover="prefetch('{{ url_for('resume') }}')">Back</button>
        <button type="button" onclick="redirect('{{ url_for('job') }}')" onmouseover="prefetch('{{ url_for('job') }}')">Continue</button>
    </div>

    <script>
		function redirect(url) {

			const textarea = document.getElementById("sample-input");

			// If dataset.modified is not set or is "false", redirect immediately
			if (textarea.dataset.modified === "false") {

				window.location.href = url;
				return;

			} else {

				// Otherwise, proceed with saving
				let sampleContent = textarea.value;
				document.getElementById("hidden-sample").value = sampleContent;

				let form = document.getElementById("sample-form");
				form.action = form.action + "?redirect=" + encodeURIComponent(url);

				showLoadingScreen("Saving...");

				form.hidden = true;
				form.style.display = "none";
				document.body.appendChild(form);

				// Reset modified flag after form submission
				textarea.dataset.modified = "false";

				form.submit();
			}
		}

		onEnter(function() {
			redirect('{{ url_for('job') }}');
		});

		onBackspace(function() {
			redirect('{{ url_for('resume') }}');
		});

		window.onload = function() {
			document.querySelectorAll("textarea").forEach(watchInput);
		};
    </script>

{% endblock %}